name: Deploy Linktree

on:
  push:
    branches: [ "main" ]

jobs:
  call-reusable:
    uses: softforge-dev/devops-pipelines/.github/workflows/deploy-docker.yml@main
    
    with:
      deploy_path: "/opt/linktree"

    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
