name: Deploy Docker Compose

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    # - name: Deploy
    #   uses: appleboy/ssh-action@v1.0.3
    #   with:
    #     host: ${{ secrets.SSH_HOST }}
    #     username: root
    #     key: ${{ secrets.SSH_KEY }}
    #     script: |
    #       echo "ola"
          
      - name: "Baixar o código"
        uses: actions/checkout@v4

      - name: "Copiar arquivos para VPS"
        uses: appleboy/scp-action@v0.1.7
        with:
          host: "46.202.146.5"
          username: "root"
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/docker"

      - name: "Build da aplicação"
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: "46.202.146.5"
          username: "root"
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "ola"
